* {
  scroll-behavior: smooth;
}

#overview {
  padding: 0;
  scroll-margin-top: 100px;
}

.scrollspy li {
  position: relative;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease;
}

.scrollspy li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('./assets/arrow-inactive.svg') left no-repeat;
  background-size: 7px;
  width: 10px;
  height: 25px;
  transition: all 0.1s ease;
}

.scrollspy li.active {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.scrollspy li.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('./assets/arrow-active.svg') left no-repeat;
  background-size: 10px;
  width: 10px;
  height: 27px;
  transition: all 0.1s ease;
}

.chakra-ui-dark .scrollspy li {
  color: rgba(0, 48, 54, 0.8);
}

.chakra-ui-dark .scrollspy li:before {
  background: url('./assets/arrow-inactive-dark.svg') left no-repeat;
  background-size: 7px;
}

.chakra-ui-dark .scrollspy li.active {
  color: #003036;
}

.chakra-ui-dark .scrollspy li.active:before {
  background: url('./assets/arrow-active-dark.svg') left no-repeat;
  background-size: 10px;
}
